<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>FCDS-{{.Title}}</title>
    <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <!--<script src="/vendor/datatables/jquery.dataTables.js"></script>-->
    <!--<script src="/vendor/datatables/dataTables.bootstrap4.js"></script>-->
    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <!--<script src="/js/sb-admin-datatables.min.js"></script>-->
    <!--公共函数-->
    <script src="/js/common.js"></script>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">


<!-- Navigation-->
{{template "layout/nav"}}


<!--ajax要提示错误的框-->
<div class="alert alert-success alert-dismissible fade in" style="display: none;" id="ajaxSuccess">
    <button type="button" class="close" data-dismiss="alert"></button>
    <span class="message text-center"></span>
</div>
<!--ajax要提示成功的框-->
<div class="alert alert-danger alert-dismissible fade in" style="display: none;" id="ajaxError">
    <button type="button" class="close" data-dismiss="alert"></button>
    <span class="message"></span>
</div>


<div class="content-wrapper">


    <!-- /.content-->
    {{yield}}


    <!-- /.container-尾部-->
    {{template "layout/footer"}}


</div>


</body>


</html>
