<div class="container-fluid">
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            任务-测试机-命令管理 {{.data.server.Ip}}

            <div class="float-right">
                <button class="btn btn-info" id="create" data-id="{{.data.server.ID}}">添加命令</button>
            </div>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                    <div class="row">
                        <form id="search" class="row" action="?" method="get">
                            <input type="hidden" id='page' name="page" value="{{.data.page.Index}}">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="dataTable_length">
                                    <label>
                                        每页
                                        <select name="pageSize" aria-controls="dataTable"
                                                class="form-control form-control-sm">
                                            <option value="5" {{if eq .data.page.Size 5}} selected{{end}}>5</option>
                                            <option value="10" {{if eq .data.page.Size 10}} selected{{end}}>10</option>
                                            <option value="30" {{if eq .data.page.Size 30}} selected{{end}}>30</option>
                                            <option value="100" {{if eq .data.page.Size 100}} selected{{end}}>100</option>
                                        </select>
                                        条
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="dataTable_filter" class="dataTables_filter">
                                    <button class="btn btn-info" type="submit">查询<i class="icon-search icon-white"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                    <div class="col-sm-12">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>命令名称</th>
                        <th>命令脚本</th>
                        <th>最近修改</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range .data.list }}
                    <tr
                        data-id="{{.ID}}"
                        data-name="{{.Name}}"
                        data-tid="{{.Tid}}"
                        data-script="{{.Value}}" >
                        <td>{{.ID}}</td>
                        <td>{{.Name}}</td>
                        <td>{{.Value}}</td>
                        <td>2017-12-02 20:00</td>
                        <td>
                            <button class="btn-info update">编辑</button>
                            <button class="btn-danger delete">删除</button>
                        </td>
                    </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
                                {{with .data.page}}
                                页码:{{.Index}}/{{.Count}} , 总共{{.Total}}条
                                {{end}}
                                ,当前页{{.data.list | len }}条
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="dataTables_paginate paging_simple_numbers">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a href="#" class="page-link" id="page-main">首页</a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#" class="page-link" id="page-pre">上一页</a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#" class="page-link" id="page-next">下一页</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- 添加（Modal） -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">命令管理-添加</h5>
            </div>
            <div class="modal-body">
                <form role="form">
                    <input type="hidden" id="createServerId">
                    <div class="form-group">
                        <label class="control-label" for="createName">命令名称</label>
                        <input type="text" class="form-control" id="createName" placeholder="" value="php">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="createScript">命令脚本</label>
                        <input type="text" class="form-control" id="createScript" placeholder="" value="docker exec php php $*">
                    </div>
                    <div class="form-group" style="color: red">
                        <span>
                        注意：自动存放至/opt/ucenter
                        </span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="createConfirm">确认</button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 更新（Modal） -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">命令管理-编辑</h5>
            </div>
            <div class="modal-body">
                <form role="form">
                    <input type="hidden" id="updateId">
                    <div class="form-group">
                        <label class="control-label" for="updateName">命令名称</label>
                        <input type="text" class="form-control" id="updateName" placeholder="" value="php">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="updateScript">命令脚本</label>
                        <input type="text" class="form-control" id="updateScript" placeholder="" value="docker exec php php $*">
                    </div>
                    <div class="form-group" style="color: red">
                        <span>
                        注意：自动存放至/opt/ucenter
                        </span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="updateConfirm">确认</button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<!-- 删除（Modal） -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span style="color: red">确定删除命令</span>123吗？
                </h5>
            </div>
            <div class="modal-footer">
                <form role="form">
                    <input type="hidden" id="deleteId">
                </form>
                <button type="button" class="btn btn-primary" id="confirmDelete">确认</button>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script>
    /************************************************ 分页 ************************************************/
    $('#page-main').click(function () {
        $('#page').val(1);
        $('#search').submit();
    });

    $('#page-next').click(function () {
        var next = parseInt("{{.data.page.Next}}");
        if (next == 0) {
            return true;
        }
        $('#page').val(next);
        $('#search').submit();
    });

    $('#page-pre').click(function () {
        var pre = parseInt("{{.data.page.Pre}}");
        if (pre < 1) {
            return true;
        }
        $('#page').val(pre);
        $('#search').submit();
    });
    /******************************************** 添加 ****************************************************/
    $('#create').click(function () {
        $('#createServerId').val($(this).data('id'));
        $('#createModal').modal({backdrop: 'static', keyboard: true}).css({})
    });

    $('#createConfirm').click(function(){
        $.post('/codeJob/jobcmdCreate', getInputParams("create", ["serverId", "name", "script"]),
            function (data) {
                showMsgJump(data, "createModal");
            }, 'json'
        );
    })

/*****************************************更新*********************************************************/
    $('.update').click(function () {
        setInputValue("update", $(this).parent().parent(), ["id","name", "script"]);
        $('#updateModal').modal({backdrop: 'static', keyboard: true}).css({})
    });
    $('#updateConfirm').click(function(){
        console.log(getInputParams("update", ["id","name", "script"]));
        $.post('/codeJob/jobcmdEdit', getInputParams("update", ["id","name", "script"]),
            function (data) {
                showMsgJump(data, "createModal");
            }, 'json'
        );
    })

/*****************************************删除*********************************************************/
    $('.delete').click(function () {
        setInputValue("delete", $(this).parent().parent(), ["id"]);
        $('#deleteModal').modal({backdrop: 'static', keyboard: true}).css({})
    });
    $('#confirmDelete').click(function () {
        $.post('/codeJob/jobcmdDel', getInputParams("delete", ["id"]),
            function (data) {
                showMsgJump(data, "deleteModal");
            },
            'json'
        );
    });


</script>