<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <!-- Example Pie Chart Card-->
            <div class="card mb-3 h-50">
                <div class="card-header">Nginx入口</div>
                <div class="list-group list-group-flush small">
                    <a class="list-group-item list-group-item-action" href="#">
                        <div class="media">
                            <div class="media-body">
                                <p><strong>并发量: </strong>3000 <strong>日志大小: </strong>5G</p>
                                <p><strong>2xx: </strong>98%</p>
                                <p><strong>3xx: </strong>2%</p>
                                <p><strong>4xx: </strong>0.2%</p>
                                <p><strong>5xx: </strong>0.01%</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="card mb-3 h-50">
                <div class="card-header">二级代理入口</div>
                <div class="list-group list-group-flush small">
                    <a class="list-group-item list-group-item-action" href="#">
                        <div class="media">
                            <div class="media-body">
                                <p><strong>92.168.0.2:3000: </strong><span class="green">正常</span></p>
                                <p><strong>2xx: </strong>98%</p>
                                <p><strong>3xx: </strong>2%</p>
                                <p><strong>4xx: </strong>0.2%</p>
                                <p><strong>5xx: </strong>0.01%</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <!-- Example Pie Chart Card-->
            <div class="card mb-3 h-100">
                <div class="card-header">微服务</div>
                <div class="list-group list-group-flush small">
                    <a class="list-group-item list-group-item-action" href="#">
                        <div class="media">
                            <div class="media-body">
                                <p><strong>数量: </strong>15</p>
                                <p><strong>服务A : </strong>v3.1.1(3节点) v3.1.0(1节点）</p>
                                <p><strong>服务B : </strong>v1.1.1(3节点)</p>
                                <p><strong>服务C : </strong>v2.1.1(3节点)</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </div>
</div>